<html><head>
        <title>Proforma Invoice</title>
    </head>
    
    <body>
        <style>
            p,
            h1,
            h2,
            h3,
            h4,
            h5 {
                padding: 0;
                margin: 0;
            }
    
            table {
                max-width: 1080px;
                margin: 0 auto;
            }
    
            td {
                white-space: pre-line;
                padding: 6px 12px;
                font-size: 8px;
            }
    
            table tr th {
                font-size: 14px;
                padding: 6px 12px;
                font-weight: normal;
            }
    
            p {
                margin-bottom: -1em;
                margin-top: 0em;
            }
        </style>
        <!-- Invoice structure start here -->
        <table border="1" cellspacing="0" cellpadding="0" style=" width: 100%;padding: 0;border-collapse: collapse; font-family: -webkit-pictograph;">
            <tbody>
            <tr>
                <td colspan="8" style="text-align: center;font-size: 14px;font-family: -webkit-pictograph;font-weight: 600;vertical-align: middle;line-height: 3px;padding-bottom: 5px;"> EXPORT INVOICE </td>
            </tr>
            <tr>
                <td colspan="8" style="text-align: center;font-size: 10px;font-family: -webkit-pictograph;font-weight: 300;vertical-align: middle;line-height: 3px;padding-bottom: 5px;"><% if (invoice.invoice_format == 'IGST') { %> SUPPLY MEANT FOR EXPORT ON PAYMENT OF IGST <% } else { %> SUPPLY MEANT FOR EXPORT UNDER BOND OR LETTER UNDERTAKING WITHOUT PAYMENT OF IGST <% } %> </td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top;padding: 3px;">
                    <b>Exporter</b>
                    <b>ALKOMEX PHARMA PRIVATE LIMITED</b>
                    <p>PLOT NO. 36,  HIMUDA INDUSTRIAL AREA, PHASE IV, BHATOLI KALAN, DISTT SOLAN, BADDI-173205</p>
                    <p>HP (INDIA)</p>
                    <p>Ph: +91 - 120 4316092, Mobile: +91-9811089979</p>
                    <p>IEC No: AAPCA4345N</p>
                    <p>GST No: 02AAPCA4345N1ZG</p>
                </td>
                <td colspan="5" style="padding: 0;">
                    <table border="1" cellspacing="0" cellpadding="0" style="width: 100%;padding: 3px;border-collapse: inherit;font-family: -webkit-pictograph;margin-top: -9px;margin-bottom: -9px;border: 0;">
                        <tbody><tr>
                            <td style="padding: 3px;height: 20px;line-height: 13px;border-top: 0;border-bottom: 1px solid #a09f9f;"><p style="padding: 3px 0 6px;">Invoice No. &amp; Date</p><h4><b><%=invoice.invoice_uid %>, <%= moment(invoice.createdAt).format('DD/MM/YYYY') %></b></h4></td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;border-bottom: 1px solid #a09f9f;"><p style="padding: 3px 0 10px;">Supplier's Order No. &amp; Date</p><h4><b><%=total_val.supplierorderno %>, Date: <%=total_val.supplierorderdate %> </b></h4></td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;border-bottom: 1px solid #a09f9f;"><p style="padding: 3px 0 10px">Buyer's Order No. &amp; Date</p><h4><%=total_val.buyerorderno %>, Date: <%=total_val.buyerorderdate %></h4></td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;"><p style="padding: 3px 0 10px"><% if (invoice.invoice_format == 'LUT') { %> LUT NO. :- <% } %></p><h4><% if (invoice.invoice_format == 'LUT') { %> <%= (invoice.LUT_number)? invoice.LUT_number:'ARN NO.AD020919000050Q, Date:04/09/2019' %> <% } %></h4> </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 3px;vertical-align: top;">
                    <b>Consignee's Name & Address :</b>
                    <h4><b><%=customerdata.basic_details.registered_name %></b></h4>
                    <p><%=customerdata.basic_details.address %></p>
                    <p><%=customerdata.basic_details.country %></p>
                    <b>VAT n&#176;: <%=customerdata.basic_details.vat_number %></b>
                </td>
                <td colspan="5" style="padding: 3px;vertical-align: top;">
                    <b>Notify Party (Buyer If other than Consignee) :</b>
                    <h4><b><%=customerdata.notify_party.registered_name %></b></h4>
                    <p><%=customerdata.notify_party.address %></p>
                    <p><%=customerdata.notify_party.country %></p>
                    <b style="padding-bottom: 5px;display: block;">VAT n&#176;: <%=customerdata.notify_party.vat_number %></b>
                </td>
            </tr>
            <tr>
              <td colspan="8" style="padding: 3px;background-color: #ddd;height: 20px;"></td>
           </tr>
            <tr>
                <td colspan="2" style="padding-top: 0;padding-bottom: 0;vertical-align: top;">Pre-Carriage by<br><b><%=supplier[0].pre_carriage_by %></b></td>
                <td colspan="3" style="text-align: center;padding-top: 0;padding-bottom: 0;">Place of Receipt by Precarrier<br><b><%=invoice.place_of_receipt %></b></td>
                <td colspan="2" style="text-align: center;padding-top: 0;padding-bottom: 0;">Country of Origin of Goods<br><b>INDIA</b></td>
                <td colspan="1" style="text-align: center;padding-top: 0;padding-bottom: 0;">Country of Final Destination<br><b><%=customerdata.basic_details.country %></b></td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 0;padding-bottom: 0;vertical-align: top;">Vessel/Flight No.<br><b><%=invoice.mode_of_shipping %></b></td>
                <td colspan="3" style="text-align: center;padding-top: 0;padding-bottom: 0;">Port of Loading <br><b><%=invoice.port_of_loading %></b></td>
                <td colspan="3" rowspan="2" style="text-align: center;padding-top: 0;padding-bottom: 0;"> 
                    <!-- Terms of Delivery &amp; Payment <br> <% if(invoice.mode_of_shipping == 'By Air') { %> <b>Price USD CIF/Air to Santiago Chile to Santiago Warehouse Chile <%=customerdata.additional_details.terms_of_payment_days%> Days from Date of Airway Bill</b> <% } else { %> <b>Price USD CIF/Sea to <%=invoice.port_of_discharge %> <%=customerdata.basic_details.country %> to <%=invoice.port_of_discharge %> Warehouse <%=customerdata.basic_details.country %> <%=customerdata.additional_details.terms_of_payment_days%> Days from Date of B/L</b> <% } %> </td> -->
                    Terms of Delivery &amp; Payment <br><b> <%=invoice.terms_of_delivery %> </b></td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 0;padding-bottom: 0;">Port of Discharge<br><b><%=invoice.port_of_discharge %>,<%=customerdata.basic_details.country %></b></td>
                <td colspan="3" style="text-align: center">Final Destination<br><b><%=customerdata.basic_details.final_destination %></b></td>
            </tr>
            <tr>
                <td>Marks & Nos</td>
                <td>No. & Kind of Pkgs</td>
                <td>Description of Goods</td>
                <td>HSN Code</td>
                <td>Quantity</td>
                <td>Unit</td>
                <td>Rate</td>
                <td>Amount</td>
            </tr>
            <tr>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top:6px;">Cartons</td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top:6px;padding-left: 2px;">Ctns No</td>
                <td style="border-bottom-color: #fff;vertical-align: top;padding-top:6px;"></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top:6px;"></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top; padding-top:6px;"></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top; padding-top:6px;"></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top:6px;">US$</td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top:6px;text-align:right;">US$</td>
            </tr>
            <% var totalNumberProducts = total_val.products.length %>
            <% for(var i=0; i < total_val.products.length; i++) {%>        <!-- Repeater start -->
            <tr>
                <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;"> <%= total_val.products[i].total_packing_carton %></td>
                <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;padding-left: 2px;"> <%= total_val.products[i].no_of_pkgs %></td>
                <td style="border-bottom-color: #fff;vertical-align: top;border-top-color: #fff; padding-top:6px;">
                    <b style="white-space:nowrap;"><%= total_val.products[i].brand_name %></b>
                    <p>BATCH NO. <%= total_val.products[i].batch_number %></p>
                    <p>Mfg.: <%= moment(total_val.products[i].manufacturing_date).format('MM/YYYY') %>   Exp.: <%=moment(total_val.products[i].expiry_date).format('MM/YYYY') %></p>
                </td>
                <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;"><%= total_val.products[i].hsn_code %></td>
                <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top; padding-top:6px;"><%= total_val.products[i].quantity %></td>
                <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top; padding-top:6px;"><%= total_val.products[i].unit_of_billing %></td>
                <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;"><%= parseFloat((total_val.products[i].price-(((total_val.products[i].price * invoice.insurance) / 100) + ((total_val.products[i].price * invoice.freight) / 100))).toFixed(4)) %></td>
                <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;text-align:right;"><%=parseFloat((total_val.products[i].quantity) * parseFloat((total_val.products[i].price) - (((total_val.products[i].price * invoice.insurance) / 100) + ((total_val.products[i].price * invoice.freight) / 100))).toFixed(4)).toFixed(2) %></td>
            </tr>
            <% } %>
            <!-- Repeater End -->
            <% if(totalNumberProducts < 5 ){
                var loopCount = 5 - totalNumberProducts;
                for( let i = 0; i < loopCount; i++ ) {%>
                    <tr>
                            <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;"> </td>
                            <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;padding-left: 2px;"> </td>
                            <td style="border-bottom-color: #fff;vertical-align: top;border-top-color: #fff; padding-top:6px;">
                                <b style="white-space:nowrap;"></b>
                                <p></p>
                                <p></p>
                            </td>
                            <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;"></td>
                            <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top; padding-top:6px;"></td>
                            <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top; padding-top:6px;"></td>
                            <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;"></td>
                            <td style="text-align: center; border-bottom-color: #fff;border-top-color: #fff;vertical-align: top;padding-top:6px;text-align:right;"></td>
                        </tr>
            <%} }%>
            <tr>
                <td colspan="2" rowspan="5" style="border-top: 1px solid #808080;">
                    <br>
                    <br>
                </td>
                <td colspan="2"  style="border-top: 1px solid #808080;"><b>Total FOB Value (USD)</b></td>
                <td  style="border-top: 1px solid #808080;"><%=total_val.total_quantity %></td>
                <td  style="border-top: 1px solid #808080;"><%=total_val.units %></td>
                <td  style="border-top: 1px solid #808080;"></td>
                <td style="text-align:right; border-top: 1px solid #808080;"><%= parseFloat((invoice.total_fob_value)).toFixed(2) %></td>
            </tr>
            <tr>
                <td colspan="4"><b>Insurance</b></td>
                <td></td>
                <td style="text-align:right"><%=invoice.insurance_usd %></td>
            </tr>
            <tr>
                <td colspan="4"><b>Freight</b></td>
                <td></td>
                <td style="text-align:right"><%= (invoice.air_freight)? invoice.air_freight: invoice.freight_usd %></td>
            </tr>
            <tr>
                <td colspan="4"><b>Add: IGST</b></td>
                <td></td>
                <td style="text-align:right">--</td>
            </tr>
            <tr>
                <td colspan="4"><b>Total Value (CIF)</b></td>
                <td></td>
                <td style="text-align:right"><%= parseFloat((invoice.total_price)).toFixed(2) %></td>
            </tr>
            <tr>
                <td colspan="9" style="vertical-align: top; padding: 3px;">
                    <u style="color:blue;">Invoice Amount in Words</u><br>
                    <p>US Dollars <%=total_price %></p>
                </td>
            </tr>
            <tr>
                <td colspan="9" style="padding: 3px;background-color: #ddd;height: 20px;"></td>
            </tr>
            <tr>
                <td colspan="5" style="vertical-align: top; padding: 3px;">
                    <p style="color:blue;">Terms &amp; Conditions</p>
                    <h3><b>Manufacturer Name & Address :-</b></h3><% for(var i=0; i<supplier.length; i++) {%>
                    <p><b><%=supplier[i].registered_name %> </b></p>
                    <p><%=supplier[i].address %></p>
                    <p>GST NO: <%=supplier[i].gst_no %></p>
                    <p><b>CIN: <%=supplier[i].cin_no %></b></p>
                    <% } %>
                </td>
                <td colspan="4">
                    <h3>For Alkomex Pharma Pvt. Ltd.</h3>
                    <br>
                    <br>
                    Authorised Signatory
                </td>
            </tr>
        </tbody></table>
        <!-- invoice structure Ends here -->
    </body></html>