<html>

<head>
    <title>Proforma Invoice</title>
</head>

<body>
    <style>
        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            padding: 0;
            margin: 0;
        }

        table {
            max-width: 1080px;
            margin: 0 auto;
        }

        td {
            white-space: pre-line;
            padding: 6px 12px;
            font-size: 8px;
        }

        table tr th {
            font-size: 14px;
            padding: 6px 12px;
            font-weight: normal;
        }

        p {
            margin-bottom: -1em;
            margin-top: 0em;
        }
    </style>
    <!-- packing list structure start here -->
    <table border="1" cellspacing="0" cellpadding="0" style=" width: 100%;padding: 0;border-collapse: collapse; font-family: -webkit-pictograph;">
        <tbody>
            <tr>
                <td colspan="7" style="text-align: center;font-size: 14px;font-family: -webkit-pictograph;font-weight: 600;vertical-align: middle;line-height: 4px;padding-bottom: 10px;">
                    PACKING LIST
                </td>
            </tr>
            <tr>
                <td colspan="7" style="padding: 0;background-color: #ddd;height: 20px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top;padding: 3px;">
                    <b>Exporter</b>
                    <h4><b>ALKOMEX PHARMA PRIVATE LIMITED</b></h4>
                    <p>PLOT NO. 36,  HIMUDA INDUSTRIAL AREA, PHASE IV, BHATOLI KALAN, DISTT SOLAN, BADDI-173205</p>
                    <p>HP (INDIA)</p>
                    <p>Ph: +91 - 120 4316092, Mobile: +91-9811089979</p>
                    <p>IEC No: AAPCA4345N</p>
                    <p>GST No: 02AAPCA4345N1ZG</p>
                </td>
                <td colspan="4" style="padding: 0;">
                    <table border="1" cellspacing="0" cellpadding="0" style="width: 100%;padding: 3px;border-collapse: inherit;font-family: -webkit-pictograph;margin-top: -9px;margin-bottom: -9px;border: 0;">
                       <tbody><tr>
                            <td style="padding: 3px;height: 20px;line-height: 13px;border-top: 0;border-bottom: 1px solid #a09f9f;"><p style="padding: 3px 0 16px;">Invoice No. &amp; Date</p><h4><b><%=packinglist.packing_list_uid %>, <%= moment(packinglist.createdAt).format('DD/MM/YYYY') %></b></h4></td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;border-bottom: 1px solid #a09f9f;"><p style="padding: 3px 0 16px;">Supplier's Order No. &amp; Date</p><h4><b><%=total_val.supplierorderno %>, Date: <%=total_val.supplierorderdate %></b></h4></td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;border-bottom: 1px solid #a09f9f;"><p style="padding: 3px 0 16px">Buyer's Order No. &amp; Date</p><h4><%=total_val.buyerorderno %>, Date: <%=total_val.buyerorderdate %></h4></td>
                        </tr>
                        <tr>
                            <td style="padding: 3px;"><p style="padding: 3px 0 16px">Other References </p><h4>HS Code: <%=total_val.hsncodes %></h4></td>
                        </tr>
                       </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="padding: 3px;vertical-align: top;">
                    <b>Billing Address :</b>
                    <h4><b><%=customerdata.basic_details.registered_name %></b></h4>
                    <p><%=customerdata.basic_details.address %></p>
                    <p><%=customerdata.basic_details.country %></p>
                    <b>R.U.T. VAT n&#176;: <%=customerdata.basic_details.vat_number %></b>
                </td>
                <td colspan="4" style="padding: 3px;vertical-align: top;">
                    <b>Notify Party :</b>
                    <h4><b><%=customerdata.notify_party.registered_name %></b></h4>
                    <p><%=customerdata.notify_party.address %></p>
                    <p><%=customerdata.notify_party.country %></p>
                    <b style="padding-bottom: 5px;display: block;">R.U.T VAT n&#176;: <%=customerdata.notify_party.vat_number %></b>
                </td>
            </tr>
            <tr>
                <td colspan="7" style="padding: 0;background-color: #ddd;height: 20px;"></td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 0;padding-bottom: 0;vertical-align: top;">Pre-Carriage by<br><b><%=supplier[0].pre_carriage_by %></b></td>
                <td colspan="2" style="text-align: center;padding-top: 0;padding-bottom: 0;">Place of Receipt by Precarrier<br><b><%=packinglist.place_of_receipt %></b></td>
                <td colspan="2" style="text-align: center;padding-top: 0;padding-bottom: 0;">Country of Origin of Goods<br><b>INDIA</b></td>
                <td colspan="1" style="text-align: center;padding-top: 0;padding-bottom: 0;">Country of Final Destination<br><b><%=customerdata.basic_details.country %></b></td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 0;padding-bottom: 0;">Vessel/Flight No.<br><b><%=packinglist.mode_of_shipping %></b></td>
                <td colspan="2" style="text-align: center;padding-top: 0;padding-bottom: 0;">Port of Loading <br><b><%=packinglist.port_of_loading %></b></td>
                <td colspan="3" rowspan="2" style="text-align: center;padding-top: 0;padding-bottom: 0;">
                    <!-- Terms of Delivery <br> <% if(packinglist.mode_of_shipping == 'By Air') { %> <b>Price USD CIF/Air to Santiago Chile to Santiago Warehouse Chile <%=customerdata.additional_details.terms_of_payment_days%> Days from Date of Airway Bill</b> <% } else { %> <b>Price USD CIF/Sea to <%=packinglist.port_of_discharge %> <%=customerdata.basic_details.country %> to <%=packinglist.port_of_discharge %> Warehouse <%=customerdata.basic_details.country %> <%=customerdata.additional_details.terms_of_payment_days%> Days from Date of B/L</b> <% } %>    -->
                    Terms of Delivery <br><b> <%= packinglist.terms_of_delivery %></b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 0;padding-bottom: 0;">Port of Discharge<br><b><%=packinglist.port_of_discharge %>,<%=customerdata.basic_details.country %></b></td>
                <td colspan="2" style="text-align: center">Final Destination<br><b><%=customerdata.basic_details.final_destination %></b></td>
            </tr>
            <tr>
                <td colspan="7" style="background:#ddd;">&nbsp;</td>
            </tr>
            <tr>
                <td>Marks & Nos</td>
                <td>No. & Kind of Pkgs</td>
                <td>Description of Goods</td>
                <td>Quantity</td>
                <td>Unit</td>
                <td>Net Wt/Kgs</td>
                <td>Gross Wt/Kgs</td>
            </tr>
            <% var totalNumberProducts = packinglist.products.length %>
            <% for(var i=0; i<packinglist.products.length; i++) {%>
            <tr>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;"> <%= total_val.products[i].no_of_pkgs %> </td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;padding-left: 2px;"> <%= total_val.products[i].total_packing_carton %></td>
                <td style="border-bottom-color: #fff;vertical-align: top;padding-top: 6px;"><h3 style="margin-bottom:4px;"><b  style="margin-bottom:0px;"><%= total_val.products[i].brand_name %></b></h3><p>(<%= total_val.products[i].complete_packaging_profile %>)</p>
                    <p>BATCH NO. <%= total_val.products[i].batch_number %></p>
                    <p>TOTAL: <%= total_val.products[i].total_tablets %> NOS </p>
                    <p>SHP DIM: <%= total_val.products[i].shipper_size_inner_dimension %> MM (LXWXH)</p></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top; padding-top: 6px;"><%= packinglist.products[i].quantity %></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top; padding-top: 6px;"><%= packinglist.products[i].unit_of_billing %></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;"><%= parseFloat(((packinglist.products[i].net_weight)*(packinglist.products[i].number_of_packages))).toFixed(2) %></td>
                <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;"><%= parseFloat(((packinglist.products[i].gross_weight)*(packinglist.products[i].number_of_packages))).toFixed(2) %></td>
            </tr>
            <% } %>

            <% if(totalNumberProducts < 3 ){
                var loopCount = 3 - totalNumberProducts;
                for( let i = 0; i < loopCount; i++ ) {%>
                    <tr>
                            <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;">  </td>
                            <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;padding-left: 2px;"> </td>
                            <td style="border-bottom-color: #fff;vertical-align: top;padding-top: 6px;"><h3><b></b></h3></td>
                            <td style="text-align: center; border-bottom-color: #fff;vertical-align: top; padding-top: 6px;"></td>
                            <td style="text-align: center; border-bottom-color: #fff;vertical-align: top; padding-top: 6px;"></td>
                            <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;"></td>
                            <td style="text-align: center; border-bottom-color: #fff;vertical-align: top;padding-top: 6px;"></td>
                        </tr>
            <% } } %>

            <tr>
                <td colspan="2" style="text-align: left; padding-left: 20px; border-bottom-color: #000;vertical-align: top;border-top: 1px solid #333;padding: 6px;"><%= total_val.total_carton %></td>
                <td style="border-bottom-color: #fff;vertical-align: middle;text-align:right;border-top: 1px solid #333; border-bottom: 1px solid #000; padding: 0;">Total in kgs</td>
                <td style="text-align: center;border-bottom-color: #fff;vertical-align: middle;border-top: 1px solid #333;border-bottom: 1px solid #333;padding: 0;"><%= parseFloat((total_val.total_quantity)).toFixed(2) %></td>
                <td style="text-align: center;border-bottom-color: #fff;vertical-align: middle;padding-top: 26px;border-top: 1px solid #333;border-bottom: 1px solid #333;padding: 0;"><%= total_val.units %></td>
                <td style="text-align: center;border-bottom-color: #fff;vertical-align: middle;border-top: 1px solid #333;border-bottom: 1px solid #333;padding: 0;"><%= parseFloat((total_val.total_net_weight)).toFixed(2) %></td>
                <td style="text-align: center;border-bottom-color: #fff;vertical-align: middle;border-top: 1px solid #333;border-bottom: 1px solid #333;padding: 0;"><%= parseFloat((total_val.total_gross_weight)).toFixed(2) %></td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top; padding: 3px;">
                    <p>Total</p>
                    <p><b><%=total_val.total_carton %> Shipper</b></p>
                    <% if(packinglist.shipping.container_number) {%> <p>container No : <%= packinglist.shipping.container_number %></p> <% } %>
                    <p><b>Manufacturer Name & Address :-</b></p><% for(var i=0; i<supplier.length; i++) {%>
                    <p><b><%=supplier[i].registered_name %> </b></p>
                    <p><%=supplier[i].address %></p>
                    <p>GST No: <%=supplier[i].gst_no %></p>
                    <p><b>CIN No: <%=supplier[i].cin_no %></b></p>
                    <% } %>
                </td>
                <td colspan="4">
                    <br>
                    <h3>For Alkomex Pharma Pvt. Ltd.</h3>
                    <br>
                    <br>
                    <br>
                    Authorised Signatory
                </td>
            </tr>
        </tbody>
    </table>
    <!-- invoice structure Ends here -->
</body>
</html>