<html>

<head>
    <title>Credit Note</title>
</head>

<body>
    <style>
        p,
        h1,
        h2,
        h3,
        h4,
        h5 {
            padding: 0;
            margin: 0;
        }

        table {
            max-width: 1080px;
            margin: 0 auto;
        }

        td {
            white-space: pre-line;
            padding: 6px 12px;
            font-size: 10px;
        }

        table tr th {
            font-size: 14px;
            padding: 6px 12px;
            font-weight: normal;
        }

        p {
            margin-bottom: -1em;
            margin-top: 0em;
        }
    </style>
    <table border="1" cellspacing="0" cellpadding="0"
        style=" width: 100%;padding: 0;border-collapse: collapse; font-family: -webkit-pictograph;">
        <tbody>
            <tr>
                <td colspan="6" style="text-align: center;">
                    <h3>ALKOMEX PHARMA PRIVATE LIMITED</h3>
                    <p>PLOT NO. 36, HIMUDA INDUSTRIAL AREA, PHASE IV, BHATOLI KALAN, DISTT SOLAN, BADDI, 173205, HP
                        (INDIA)</p>
                    <p>Ph: +91 - 120 4316092, Mobile: +91-9811089979</p>
                    <p>Email: piyush@alkomexpharma.com, Website: www.alkomexpharma.com</p>
                    <p>IEC No: AAPCA4345N</p>
                    <p>GST No: 02AAPCA4345N1ZG</p>
                </td>
            </tr>
            <tr>
                <td colspan="8"
                    style="text-align: center;font-size: 20px;font-family: -webkit-sans-serif;font-weight: 400;vertical-align: middle;line-height: 8px;background-color: #ebebeb; padding-bottom: 6px; padding-top: 6px">
                    SERVICE INVOICE </td>
            </tr>
            <tr>
                <td colspan="2" style="width: 250px;vertical-align: top;line-height: 6px;">
                    <table style="width: 100%; max-width: 100%;">
                        <tbody>
                            <tr>
                                <td style="vertical-align:top;width: 54px;text-decoration-line: underline">Buyer: </td>
                                <td style="vertical-align: top;line-height: 11px;">
                                    <h3 style="margin-top:0px; white-space: nowrap;">
                                        <b><%=customerdata.basic_details.registered_name %></b></h3>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top; width:60px; white-space: nowrap;">
                                    Address
                                </td>
                                <td style="vertical-align: top;line-height: 11px;">
                                    <p><%=customerdata.basic_details.address %></p>
                                    <p><%=customerdata.basic_details.country %></p>
                                    <p>VAT no.: <%=customerdata.basic_details.vat_number %></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td colspan="3" style="width:auto;vertical-align: middle;line-height: 14px;">
                    <p style="margin-bottom: 8px; font-weight: bold;">BILL NO.: <%=si.bill_no %> </p>
                    <p style="font-weight: bold;"> DATED: <%= moment(si.createdAt).format('DD.MM.YYYY') %> </p>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="padding: 0;border-collapse: collapse">
                    <table cellspacing="0" cellpadding="0" style="width:100%;margin-top: -11px;margin-bottom: 0;">
                        <thead style="background-color: #ddd;padding: 6px 0;">
                            <tr>
                                <th
                                    style="text-align: left;font-weight: bold;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;line-height: 15px;font-size: 9px;padding-left: 14px;padding-right: 14px;text-align: center;">
                                    Item</th>
                                <th
                                    style="text-align: left;width: 70%;font-weight: bold;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;line-height: 15px;font-size: 9px;padding-left: 14px;padding-right: 14px;text-align: center;">
                                    Description of Incident</th>
                                <th
                                    style="font-weight: bold;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;line-height: 15px;font-size: 9px;padding-left: 14px;padding-right: 14px;text-align: center;">
                                    QTY.</th>
                                <th
                                    style="font-weight: bold;background-color: #fff;border-bottom: 1px solid #000;border-right: 1px solid #000;line-height: 15px;font-size: 9px;padding-left: 14px;padding-right: 14px;text-align: center;">
                                    RATE($)</th>
                                <th
                                    style="font-weight: bold;background-color: #fff;border-bottom: 1px solid #000;line-height: 20px;font-size: 9px;">
                                    Total(USD)</th>
                            </tr>
                        </thead>
                        <tbody style="min-height: 400px;">
                            <tr>
                                <td style="border-right: 1px SOLID #010101;white-space:nowrap;">1</td>
                                <td style="border-right: 1px SOLID #202020;"><%=si.description_of_incident %>
                                    <%= moment(si.createdAt).format('DD.MM.YYYY') %> </td>
                                <td style="border-right: 1px SOLID #494747;text-align: center;"><%=si.quantity%></td>
                                <td style="border-right: 1px SOLID #363636;text-align: center;"><%=si.rate%></td>
                                <td style="text-align: right;"><%=parseFloat((si.invoice_amount)).toFixed(2)%></td>
                            </tr>
                        </tbody>
                        <tfoot>

                            <tr>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;height: 155px;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; *//* border-right: 1px solid #000;">
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;height: 155px;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; *//* border-right: 1px solid #000;">
                                </td>
                            </tr>
                            <tr>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;height: 155px;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; */border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; *//* border-top: 1px solid #000; *//* border-right: 1px solid #000;">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"
                                    style="border-top: 1px solid #000;border-right: 1px solid #000;vertical-align: top;padding: 2px;">
                                    <p style="color: #aaa;text-transform: capitalize;"><u>Invoice Amount in words:</u>
                                    </p>
                                    <p style="text-transform: capitalize;"><b>US Dollars <%=invoice_amount %></b></p>
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; */border-top: 1px solid #000;border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; */border-top: 1px solid #000;border-right: 1px solid #000;">
                                </td>
                                <td
                                    style="/* border-bottom: 1px solid #000; */border-top: 1px solid #000;/* border-right: 1px solid #000; */text-align: right;">
                                    <%=parseFloat((si.invoice_amount)).toFixed(2)%></td>
                            </tr>
                            <tr>
                                <td colspan="5"
                                    style="text-align:right;border-top: 1px solid #333;padding-right: 108px;">For Alkomex Pharma Pvt. Ltd.
                                    <br />
                                    Authorised Signatory
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>